@font-face {
  font-family: 'CambiraBold';
  src: local('CambiraBold'),
    url('./fonts/Cambira/cambriab.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'CambiraItalic';
  src: local('CambiraItalic'),
    url('./fonts/Cambira/cambriai.ttf') format('truetype');
  font-style: italic;
}
